<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment of grid</title>
    <link rel="stylesheet" href="Assignmentflexgrid.css">
</head>
<body>
    <div class ="container1">
        <img src="./Images/minion.jpg" alt="Profile Picture">
        <div1>
            <h1 id="i1">Hello</h1>
            <h1 id="i1">Kirankumar</h1>
        </div1>
    </div> <br>
    <div class ="container2">
        <div2>
            <label id="i2">First</label>
            <label id="i2">Second</label>
            <label id="i2">Third</label>  
        </div2>
        <div3>
        
        </div3>
    </div><br>
    <div class ="container3">
        <label id="i3">North</label>
        <label id="i3">East</label>
        <label id="i3">South</label>
        <label id="i3">West</label>
    </div>
</body>
</html>