<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment of flex</title>
    <link rel="stylesheet" href="Assignmentflex.css">
</head>
<body>
    <div class ="container1">
        <img src="./Images/minion.jpg" alt="Profile Picture">
        <div1>
            <label id="i1">Hello</label>
            <label id="i1">Kirankumar</label>
        </div1>
    </div> <br>
    <div class ="container2">
        <div2>
            <h1 id="i4">First</h1>
            <h1 id="i4">Second</h1>
            <h1 id="i4">Third</h1>  
        </div2>
        <div3>
        
        </div3>
    </div><br>
    <div class ="container3">
        <h1 id="i3">North</h1>
        <h1 id="i3">East</h1>
        <h1 id="i3">South</h1>
        <h1 id="i3">West</h1>
    </div>
</body>
</html>