body {
    background-image: linear-gradient(to right, rgb(222, 240, 247), rgb(242, 242, 250));
}

.inside {
    font-size: 25px;
    font-weight: bold;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.inside1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.main {
    line-height: 40px;
    margin-top: 150px;
}

.words {
    height: 25px;
    width: 100px;
    border: transparent;
    background-color: transparent;
    font-size: 20px;
}

.search {
    font-size: 20px;
    padding: 1px 15px;
    border-radius: 5px;
}
h1{
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#name { 
    display: inline-block;
    width: 150px;
    text-align: center;
}

.result {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: rgb(113, 113, 244);
}